{% extends "skeleton.html.twig" %}
{% block main %}
	<div class="customnav p-3">
		{% if mostRated is defined %}
			<h1 class="bi bi-bar-chart-line"> Most rated</h1>
			{% for model in mostRated %}
				{{ dump(model) }}
			{% endfor %}
		{% endif %}
	</div>

	<div class="customnav p-3 my-2">
		{% if mostLiked is defined %}
			<h1 class="bi bi-star"> Most Liked</h1>
			{% for model in mostLiked %}
				{{ dump(model) }}
			{% endfor %}
		{% endif %}
	</div>

	<div class="customnav p-3">
		{% if mostHated is defined %}
			<h1 class="bi bi-hand-thumbs-down"> Most Hated</h1>
			{% for model in mostHated %}
				{{ dump(model) }}
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
