* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
}

.container1 {
    display: flex;
    height: 100dvh;
    overflow: hidden;
}

.left {
    width: 60%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.9) 100%);
    background-color: #c40000;
    position: relative;
    overflow: visible;
}


@keyframes entradaSuave {
    from {
        opacity: 0;
        transform: translate(calc(-34% - 100px), 25%);
    }

    to {
        opacity: 1;
        transform: translate(-34%, 25%);
    }
}

@keyframes entradaSuave2 {
    from {
        opacity: 0;
        transform: translate(calc(34% + 100px), 25%);
    }

    to {
        opacity: 1;
        transform: translate(-34%, 25%);
    }
}

.cars-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 170%;
    max-width: none;
    pointer-events: none;
    z-index: 2;
    animation: entradaSuave 0.8s ease-out forwards;
}

.cars-img2{
    position: absolute;
    bottom: 25%;
    left: 30%;
    width: 170%;
    max-width: 1000px;
    pointer-events: none;
    z-index: 2;
    animation: entradaSuave2 1s ease-out forwards;
}

.right {
    width: 40%;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right2 {
    width: 40%;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    .login-box h1{
        margin-bottom: 20px !important;
    }
}
.left2 {
    width: 60%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.9) 100%);
    background-color: #c40000;
    position: relative;
    overflow: visible;
}

.login-box {
    width: 70%;
}

.login-box h1 {
    font-size: 60px;
    color: #9e2b25;
    text-align: center;
    margin-bottom: 40px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #9e2b25;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    background-color: #9e2b25;
    margin-bottom: 20px;
    color: white;
}

mark {
    display: block;
    margin-bottom: 10px;
    background: transparent;
    color: red;
}

.boton-login {
    width: 60%;
    margin: 0 auto;
    display: block;
    padding: 15px;
    border-radius: 20px;
    border: none;
    background-color: #9e2b25;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

.crear-cuenta {
    text-align: center;
    color: #9e2b25;
    cursor: pointer;
}

a {
    color: #9e2b25;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

input::placeholder {
    color: white;
    opacity: 0.7;
    font-style: italic;
}

.hidden-checkbox {
    display: none;
}

label {
    color: #9e2b25;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
}

.container2 {
    display: flex;
    height: 100dvh;
    overflow: hidden;
    display: none;
    flex-direction: row-reverse;
    pointer-events: none;
}

.container3{
    display: flex;
    height: 100dvh;
    overflow: hidden;
    display: none;
    flex-direction: row-reverse;
    pointer-events: none;
}

#crearCuenta:checked~.container1 {
    display: none;
    pointer-events: none;
}

#crearCuenta:checked~.container2 {
    display: flex;
    pointer-events: auto;
}

#crearCuenta:checked~.cars-img2{
    display:block;
}

#contraseñaOlvidada:checked~.container1{
    display: none;
    pointer-events: none;
}

#contraseñaOlvidada:checked~.container3{
    display: flex;
    pointer-events: auto;
}

#contraseñaOlvidada:checked~.cars-img2{
    display:block;
}

.container4{
    display: flex;
    height: 100dvh;
    overflow: hidden;
    flex-direction: row-reverse;
}