<nav class="customnav navbar navbar-expand-lg m-1 p-2" data-bs-theme="dark">
    <div class="container">
        <span class="navbar-brand">TFG</span>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
           <ul class="navbar-nav"> 
            <!-- TODO: Add search bar -->
            {% if not app.user %} {# ANONYMOUS USER #}
            <li class="nav-item">
                <button class="nav-link logIOButton customNavBtn btn" title="Log in" href={{ path('home') }}>
                    <i class="bi bi-box-arrow-in-right"></i>
                    Login
                </button>
            </li>
            {% else %} {# USER IS LOGGED IN #}
            <li class="nav-item">
                <button class="garageButton customNavBtn btn" title="My garage">
                    <i class="bi bi-car-front-fill"></i>
                    Garage
                </button>
                <button class="logIOButton customNavBtn btn" title="Log out">
                    <i class="bi bi-box-arrow-right"></i>
                </button>
            </li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>